<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head lang="en">
        {% block script_block %} {% endblock %}

        <link rel="stylesheet" type="text/css" href="{% static 'trades/style.css' %}">
        <link rel="icon" href="data:,">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="viewport" content="height=device-height,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <title> {% block title_block %}  {% endblock %} </title>
    </head>
    <body>
        <header>
            <div class = "container">
                <img src="{% static 'images/MDMlogo.jpg' %}" alt="logo" class="logo">
                <nav>
                    <ul>
                        <li> <a href='/trades/'>Home</a> </li>
                        <li> <a href='/trades/about/'>About</a> </li>
                        <li> <a href="/trades/category/clients">Our clients</a> </li>
                        <li> <a href='/trades/contact_us/'>Contact us</a> </li>
                    </ul>
                </nav>
            </div>
        </header>

        <br/>
        <br/>
        <br/>


        {% block body_block %}  {% endblock %}


    </body>
    <footer>
        MDM specialist trades ltd </br>
        36 Watt Road </br>
        Hillington </br>
        Glasgow
    </footer>
</html>