<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head lang="en">
        <link rel="stylesheet" type="text/css" href="{% static 'trades/style.css' %}">
        <meta charset="UTF-8" />
        <title> {% block title_block %}  {% endblock %} </title>
    </head>
    <body>
        <header>
            <div class = "container">
                <img src="{% static 'images/cala-homes.jpg' %}" alt="logo" class="logo">
                <nav>
                    <ul>
                        <li> <a href='/trades/'>Home</a> </li>
                        <li> <a href='/trades/about/'>About</a> </li>
                        <li> <a href='/trades/contact_us/'>Contact us</a> </li>
                        <li> <a href='/trades/our_clients/'>Our clients </a> </li>
                    </ul>
                </nav>
            </div>
        </header>


        <br/>


        {% block body_block %}  {% endblock %}
    </body>
</html>