{% extends 'trades/base.html' %}
{% load staticfiles %}

{% block title_block %} Our clients {% endblock %}

{% block body_block %}

<div>
    {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <a href="/trades/page/{{ page.slug }}">{{ page.title }} </a>
                {% endfor %}
            </ul>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}

    {% else %}
        The specified category does not exist!
    {% endif %}
</div>

{% endblock %}
