{% extends 'trades/base.html' %}
{% load staticfiles %}

{% block script_block %} <script src="{% static 'trades/slides.js' %}"> </script> {% endblock %}


{% block title_block %} Home {% endblock %}

{% block body_block %}


<div class="slideShow">

  <div class="mySlides fade">
      <img  src="{% static 'images/cala.jpg' %}" alt="cala homes"/>
      <div class="caption">Cala homes</div>
  </div>

  <div class="mySlides fade">
      <img  src="{% static 'images/persimmons.jpg' %}" alt="persimmons homes"/>
      <div class="caption">Persimmons homes</div>
  </div>

  <div class="mySlides fade">
      <img  src="{% static 'images/avant.jpg' %}" alt="avant homes"/>
      <div class="caption">Avant homes</div>
  </div>

  <div class="mySlides fade">
      <img  src="{% static 'images/taylor-wimpey.jpg' %}" alt="taylor wimpey homes"/>
      <div class="caption">Taylor Wimpey homes</div>
  </div>

</div>
</br>


<div style='text-align: center;'>
  <span class="dot" onclick='thisSlide(1)'></span>
  <span class="dot" onclick='thisSlide(2)'></span>
  <span class="dot" onclick='thisSlide(3)'></span>
  <span class="dot" onclick='thisSlide(4)'></span>
</div>

</div>


<h1> Welcome </h1>

<div class="box">
    MDM Specialist Trades has over 30 years of experience in the construction industry, having been initially established in 1981. </br>
    Originally trading as Sweeney Drywall, we re-branded in 2006 following an MBO and now trade as MDM Specialist Trades Ltd. </br>
    More recently, in 2017, the company changed hands once again and is now run by 2 directors: Stephen Watters and Scott Thompson </br>
    Our directors pride themselves in producing quality, reliability and service to the construction and new build housing industries.</br>
    Our business activities encompass all markets from new build housing and social housing projects to commercial projects.
</div>




{% endblock %}

