{% extends 'trades/base.html' %}
{% load staticfiles %}

{% block title_block %} Our clients {% endblock %}

{% block body_block %}

<div>
    {% if category %}
        <h1>{{ category.name }}</h1>
        {% if pages %}
            <div class = "cards">
                <ul>
                    {% for page in pages %}
                        <div class = "card">
                            <img src="{{ MEDIA_URL }}{{ page.picture }}" />
                            <div class = "card_info">
                                <a href="/trades/page/{{ page.slug }}">{{ page.title }} </a>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <strong>No pages currently in category.</strong>
        {% endif %}

    {% else %}
        The specified category does not exist!
    {% endif %}
</div>

{% endblock %}
