

/* Portrait */
@media screen and (orientation:portrait) {
   /* nav bar */
.container {
    position: relative;
    margin: 0 auto;
    width: 90%;
    z-index: 0;
    height: 100%;
}


header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    margin-bottom: 5vh;
}


header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    position: absolute;
    height: 2vw;
    width: 100%;
    text-align: center;
}

.logo {
    position: relative;
    float: left;
    margin-left: 5vw;
    height: 3.5vh;
    width: 25vw;
}


nav ul {
    list-style-type: none;
    margin: 0;
    margin-left: 25vw;
    padding: 0;
}


nav li {
    display: inline-block;
    margin-left: 4vw;
    padding-top: 1.75vh;
    position: relative;
    font-size: 2vw;
}


nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}


nav a::after {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: black;
    position: absolute;
}

nav a:hover {
    color: #003366;
}


nav a:hover::after {
    background-color: green;
    width: 100%;
}

/* home */

html, body {
    padding:0;
    margin:0;
    height:100%;
    font-family: "Times New Roman", Times, serif;
    background-image: radial-gradient(circle, white, #cece91, #e1c699);

}

.slideShow {
    width: 80%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    height: 25vh;
    border: solid 1px black;
}

.mySlides img {
    width: 100%;
    height: 25vh;
}

.caption {
    color: #f2f2f2;
    font-size: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222428;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 1.5vh;
    width: 1.5vh;
    margin-top: 1vh;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease;
}

.active,.dot:hover {
    background-color: #717171;
}

h1 {
    font-size: 3vh;
    color: black;
    text-align: center;
}

.box {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-top: solid 1px black;
    font-size: 2vh;
}

.mapouter {
    position: relative;
    margin: auto;
    margin-bottom: 5vh;
    display: block;
    text-align: right;
    width: 80vw;
    height: 30vh;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    width: 80vw;
    height: 30vh;
}

.portrait_picture img {
    display: none;
    width: 0vw;
    height: 0vh;
}

.landscape_picture img {
    position: relative;
    margin: auto;
    margin-bottom: 5vh;
    display: block;
    width: 80vw;
    height: 30vh;
}

.info {
    border-top: solid 1px black;
    position: relative;
    margin: auto;
    display: block;
    font-size: 2vh;
    text-align: center;
    width: 80%;
}

.cards {
    position: absolute;
    left: 8vw;
    display: inline-block;
    margin: 0 auto;
}

.card {
    background-color: white;
    margin-right: 14vw;
    margin-bottom: 10vh;
    display: inline-block;
    box-shadow: 0 4px 8px 0;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0;
}

.card_info {
    position: relative;
    background-color: white;
    text-align: center;
    font-size: 1.5vh;
}

.card img {
    height: 15vh;
    width: 25vw;
}

.wrapper {
    position: relative;
    margin-top: 3vh;
    min-height: 100%;
}

.push {
    height: 8vh;
}

.footer {
    position: absolute;
    background-color: white;
    text-align: center;
    font-size: 1vh;
    width: 100%;
    height: 5vh;
}
}










/* Landscape */
@media screen and (orientation:landscape) {

/* nav bar */
.container {
    position: relative;
    margin: 0 auto;
    width: 80%;
    z-index: 0;
    height: 100%;
}


header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: white;
}


header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    position: absolute;
    height: 2vw;
    width: 100%;
    text-align: center;
}

.logo {
    position: relative;
    float: left;
    left: 5vw;
    height: 8vh;
    width: 20vw;
}


nav ul {
    list-style-type: none;
    margin: 0;
    margin-left: 19vw;
    padding: 0;
}


nav li {
    display: inline-block;
    margin-left: 5.25vw;
    padding-top: 4vh;
    position: relative;
    font-size: 2.5vh;
}


nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}


nav a::after {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: black;
    position: absolute;
}

nav a:hover {
    color: #003366;
}


nav a:hover::after {
    background-color: green;
    width: 100%;
}

/* home */

html, body {
    padding:0;
    margin:0;
    height:100%;
    font-family: "Times New Roman", Times, serif;
    background-image: radial-gradient(circle, white, #cece91, #e1c699);

}

.slideShow {
    width: 70%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    height: 42vh;
    border: solid 1px black;
}

.mySlides img {
    width: 100%;
    height: 42vh;
}

.caption {
    color: #f2f2f2;
    font-size: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #222428;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 1.5vw;
    width: 1.5vw;
    margin-top: 1vw;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease;
}

.active,.dot:hover {
    background-color: #717171;
}

h1 {
    font-size: 3vw;
    color: black;
    text-align: center;
}

.box {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    border-top: solid 1px black;
    font-size: 1.4vw;
}

.mapouter {
    position: absolute;
    top: 11vh;
    float: right;
    right: 15vw;
    text-align: right;
    height: 70vh;
    width: 30vw;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 70vh;
    width: 30vw;
}

.info {
    position: absolute;
    float: left;
    font-size: 2.4vh;
    left: 15vw;
    width: 30vw;
}

.portrait_picture img {
    position: absolute;
    top: 11vh;
    float: right;
    right: 15vw;
    width: 30vw;
    height: 65vh;
}

.landscape_picture img {
    display: none;
    height: 0vh;
    width: 0vw;
}

.cards {
    position: absolute;
    margin-top: 0;
    left: 12vw;
    display: inline-block;
}

.card {
    background-color: white;
    margin-right: 10vw;
    margin-top: 10vh;
    display: inline-block;
    box-shadow: 0 4px 8px 0;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0;
}

.card_info {
    position: relative;
    background-color: white;
    text-align: center;
    font-size: 1vw;
}

.card img {
    height: 20vh;
    width: 10vw;
}

.wrapper {
    position: relative;
    margin-top: 8vh;
    min-height: 100%;
}

.push {
    height: 8vh;
}

.footer {
    position: absolute;
    background-color: white;
    text-align: center;
    font-size: 1vw;
    width: 100%;
    height: 10vh;
}
}













