.container {
    width: 80%;
    margin: 0 auto;
}


header {
    background-color: white;
}


header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    position: absolute;
    left: 0px;
    height: 40px;
    width: 100%;
    text-align: center;
}
    

    
.logo {
    padding: 10px 0;
    float: left;
    height: 100px;
    width: 100px;    
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 50px;
    position: relative;
    font-size: 20px;
}


nav a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}


nav a::after {
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: black;
    position: absolute;
}

nav a:hover {
    color: #003366;
}


nav a:hover::after {
    background-color: green;
    width: 100%;
}


body {
    margin: 0;
    background-color: #cece91;
}
